include header

	include page-header
	
	.content-area-outter
		.content-area
			.content-inner
				p <strong>Do</strong>, is a quick and easy way to motivate you to spend a little less time staring at screens and a little more time staying active.
		
				p The <strong>Do</strong> extension syncs with your wearable products and gently reminds you of your daily activity, by blocking you from the websites you love most until you <strong>Do</strong> a little bit more.
	
	.content-actions-outter
		.content-inner
			.content-actions
				h1 Get <strong>Do</strong>
				a(href="/").button Download
				a(href="/register").button Register
	
	include page-footer