header
	.header-inner
		.column.column-a
			.inner
				.content
					.logo-container
						a(href="/")
							img(src="../images/icons/icon_white_256.png").logo
		.column.column-b
			.inner
				.content
					.button-outter
						.button-inner
							a(href="/" + login_button).button !{login_button}